<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RfidUdpListenAddress" value="127.0.0.1" />
    <add key="RfidUdpListenPort" value="62002" />
    <add key="EmptyRfidValue" value="0" />
    <add key="AdminPassword" value="admin123" />
  </appSettings>
</configuration>
